<a href="https://colab.research.google.com/github/agnathomas/Python/blob/main/pycycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#14.
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
#10.
PI = 3.14
r = float(input("Enter the radius of the circle: "))
area = PI * r * r
print("%.2f" %area)

Enter the radius of the circle: 3
28.26

In [ ]:
#11.
num1 = 18
num2 = 24
num3 = 22
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 24

In [ ]:
#12.
filename= input("Enter Filename: ")
f = filename.split(".")
print ("Extension of the file is : " + f[-1])

Enter Filename: py.ipynb
Extension of the file is : ipynb

In [ ]:
#13.
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[3]))

Red Black

In [ ]:
#15.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [ ]:
#18.
dict1 = {  'Anu': 5, 'Don': 7, 'Akku' : 10 }
dict2 = {'Aksa': 8,'Alex': 20,'Meenu' : 11 }
dict1.update(dict2)
print('Updated dictionary 1 :')
print(dict1)

Updated dictionary 1 :
{'Anu': 5, 'Don': 7, 'Akku': 10, 'Aksa': 8, 'Alex': 20, 'Meenu': 11}

In [ ]:
#19.
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 40
Enter 2nd number: 64
GCD is 8

In [ ]:
#2:
y = int (input("Enter the final year:"))
print("Future leap years from 2021:")
for x in range(2021 , y+1):
 if(x%4==0) and (x%100!=0) or (x%400==0):
    print(x)

Enter the final year:2030
Future leap years from 2021:
2024
2028

In [ ]:
#20.
list = [11, 22, 33, 44, 55]
print("Original list :",list)
for i in list:
   if(i%2 == 0):
      list.remove(i)
print("List after removing Even numbers : ", list)

Original list : [11, 22, 33, 44, 55]
List after removing Even numbers :  [11, 33, 55]

In [1]:
#4.
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('flowers are also called blossom.'))

{'flowers': 1, 'are': 1, 'also': 1, 'called': 1, 'blossom.': 1}

In [3]:
#6.
def countX(lst, x): 
    count = 0
    for ele in lst: 
        if (ele == x): 
            count = count + 1
    return count 
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8] 
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

In [ ]:
#7.