<a href="https://colab.research.google.com/github/agnathomas/Python/blob/main/pycycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#14.
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [2]:
#1.
n=input("Enter your House Number:")
hname=input("Enter your House Name:")
s=input("Enter your street Name:")
t=input("Enter your Town/City:")
d=input("Enter your District:")
state=input("Enter your State:")
country=input("Enter your Country:")
pin=int(input("Enter your Postcode:"))
print("\nAddress Details:\n" +"\n Housenumber :",n,"\nHouse :",hname,"\nStreet:",s,"\nTown/City:",t,"\nDistrict:",d,"\nState:",state,"\nCountry:",country,"\nPostcode:",pin)

Enter your House Number:1234
Enter your House Name:AGB
Enter your street Name:bnm
Enter your Town/City:ert
Enter your District:kkm
Enter your State:asd
Enter your Country:jhg
Enter your Postcode:657410

Address Details:

 Housenumber : 1234
House : AGB
Street: bnm
Town/City: ert
District: kkm
State: asd
Country: jhg
Postcode: 657410

In [ ]:
#10.
PI = 3.14
r = float(input("Enter the radius of the circle: "))
area = PI * r * r
print("%.2f" %area)

Enter the radius of the circle: 3
28.26

In [ ]:
#11.
num1 = 18
num2 = 24
num3 = 22
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 24

In [ ]:
#12.
filename= input("Enter Filename: ")
f = filename.split(".")
print ("Extension of the file is : " + f[-1])

Enter Filename: py.ipynb
Extension of the file is : ipynb

In [ ]:
#13.
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[3]))

Red Black

In [ ]:
#15.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [ ]:
#18.
dict1 = {  'Anu': 5, 'Don': 7, 'Akku' : 10 }
dict2 = {'Aksa': 8,'Alex': 20,'Meenu' : 11 }
dict1.update(dict2)
print('Updated dictionary 1 :')
print(dict1)

Updated dictionary 1 :
{'Anu': 5, 'Don': 7, 'Akku': 10, 'Aksa': 8, 'Alex': 20, 'Meenu': 11}

In [ ]:
#19.
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 40
Enter 2nd number: 64
GCD is 8

In [ ]:
#2:
y = int (input("Enter the final year:"))
print("Future leap years from 2021:")
for x in range(2021 , y+1):
 if(x%4==0) and (x%100!=0) or (x%400==0):
    print(x)

Enter the final year:2030
Future leap years from 2021:
2024
2028

In [ ]:
#20.
list = [11, 22, 33, 44, 55]
print("Original list :",list)
for i in list:
   if(i%2 == 0):
      list.remove(i)
print("List after removing Even numbers : ", list)

Original list : [11, 22, 33, 44, 55]
List after removing Even numbers :  [11, 33, 55]

In [ ]:
#4.
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts

print( word_count('flowers are also called blossom.'))

{'flowers': 1, 'are': 1, 'also': 1, 'called': 1, 'blossom.': 1}

In [ ]:
#6.
name = input("enter the names")
list = []
count = 0
for x in name:
   list.append(x)
   if (x in name and x == 'a'):
      count = count + 1
print(count)

enter the namesanu anju sam
3

In [ ]:
#7(a).
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
l1 = len(list1)
l2 = len(list2)
print("length of list1 :", l1 , "and length of list2 :", l2)
if l1 == l2:
   print ("list are same length")
else :
    print ("list are of different length")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
length of list1 : 5 and length of list2 : 5
list are same length

In [ ]:
#7(b)
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
sum1 = 0
sum2 = 0
for x in range(0, len(list1)):
    sum1 = sum1 + list1[x]
print ("sum of all elements in given list1 :", sum1)
for x in range(0, len(list2)):
   sum2 = sum2 + list2[x]   
print ("sum of all elements in given list2 :", sum2)
if ( sum1 == sum2):
   print ("list sum to same value") 
else:
   print("list are of different sum")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
sum of all elements in given list1 : 18
sum of all elements in given list2 : 15
list are of different sum

In [ ]:
#7(c).
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first  list is :" + str(list1))
print ("the second list is :" + str(list2))
print ("the values occur in both lists :")
for x in list1:
   if(x in list1 and x in list2):
      print(x)

the first  list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
the values occur in both lists :
1
2
4
3

In [ ]:
#5.1090

x = []
n = int(input("enter any integers:"))
for i in range(1, n+1):
  a = int(input())
  if (a>100):
    x.append('over')
  else:
     x.append(a)
print("modified list:", x)

enter any integers:5
140
152
0
120
141
modified list: ['over', 'over', 0, 'over', 'over']

In [ ]:
#8.
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
print(change_char('agna'))

agn$

In [ ]:
#9.
a = input("enter a string")
print("new string :")
print(a[-1:] + a[1:-1] + a[0])

enter a string python
new string :
npytho

In [ ]:
#16.
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('agna', 'thomas'))

thna agomas

In [ ]:
#3(a).
mylist =[12, 34, 56, -9, -7]
print("firstlist:" , mylist)
newlist =[x for x in mylist if x > 0]
print("newlist :",newlist)

firstlist: [12, 34, 56, -9, -7]
newlist : [12, 34, 56]

In [ ]:
#3(b).n=int(input("enter ther limit"))
l=[]
for i in range(0, n):
  num=int(input("enter no:"))
  l.append(num)
print("entered list", l)
l1=[i*i for i in l]
print("list of squres",l1)

enter no:4
enter no:5
enter no:7
enter no:2
enter no:6
entered list [4, 5, 7, 2, 6]
list of squres [16, 25, 49, 4, 36]

In [ ]:
#3(c).
word = input("enter a word")
vowels= ['a', 'e', 'i', 'o', 'u']
list= []
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowel present in the given word is:",list)

enter a wordagna
vowel present in the given word is: ['a']